<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理页</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/admin.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</head>
<body>
<div class="top">
	<div id="top-logo">安徽省物联网安全技术工程实验室</div>
	<div class="menu">
		<a href="">进入前台</a>
	</div>
	<div class="exit">
		<a href="">退出</a>
	</div>
</div>

<div id="left">
	<dl>
		<dt>栏目管理</dt>
		<dd><a href="" target="iframe">查看栏目</a></dd>
	</dl>

	<dl>
		<dt>新闻管理</dt>
		<dd><a href="" target="iframe">查看内容</a></dd>
	</dl>
</div>

<div id="right">
	<iframe src="" name="iframe" frameborder="0"></iframe>
</div>
</body>
</html>

