<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>后台管理页</title>
	<link rel="stylesheet" href="__STATIC__/css/default.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/css/admin.css">
	<script type="text/javascript" src="__STATIC__/js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="__STATIC__/js/admin.js"></script>
</head>
<body>
<div class="top">
	<div id="top-logo">安徽省物联网安全技术工程实验室</div>
	<div class="menu">
		<a href="{:url('index/index/index')}">进入前台</a>
	</div>
	<div class="exit">
		<a href="{:url('login/loginout')}">退出</a>
	</div>
</div>

<div id="left">
	<dl>
		<dt>栏目管理</dt>
		<dd><a href="{:url('modulemanager/index')}" target="iframe">查看栏目</a></dd>
		<dd><a href="{:url('modulemanager/newmodule')}" target="iframe">新增栏目<br>(需要配合前端使用)</a></dd>
	</dl>

	<dl>
		<dt>大图管理</dt>
		<dd><a href="{:url('banner/index')}" target="iframe">查看条目</a></dd>
		<dd><a href="{:url('banner/insert')}" target="iframe">新增条目</a></dd>
	</dl>

	<dl>
		<dt>文章管理</dt>
		<dd><a href="{:url('newsmanager/news')}" target="iframe">查看新闻</a></dd>
		<dd><a href="{:url('newsmanager/notify')}" target="iframe">查看通知</a></dd>
		<dd><a href="{:url('newsmanager/thesis')}" target="iframe">查看论文</a></dd>
		<dd><a href="{:url('newsmanager/patent')}" target="iframe">查看专利</a></dd>
		<dd><a href="{:url('newsmanager/cooperation')}" target="iframe">查看合作</a></dd>
		<br>
		<dd><a href="{:url('newsmanager/insert')}" target="iframe">插入文章</a></dd>
	</dl>

	<dl>
		<dt>图片管理</dt>
		<dd><a href="{:url('upload/index')}" target="view_window">查看图片<br>(新建页)</a></dd>
		<dd><a href="{:url('upload/upload')}" target="view_window">上传图片<br>(新建页)</a></dd>
	</dl>
</div>

<div id="right">
	<iframe src="" name="iframe" frameborder="0"></iframe>
</div>
</body>
</html>

