body{
	margin: 0px;
	padding: 0px;
	font-family: 微软雅黑;
}
html{
	overflow-y: hidden;
}
a{
	text-decoration: none;
}
iframe{
	width: 100%;
	height: 100%;
}
.top{
	width: 100%;
	height: 80px;
	background-color: #F1F1F1;
	border-bottom: 2px solid #777777;
	overflow: hidden;
	position: relative;
}
#top-logo{
	float: left;
	width: 400px;
	height: 80px;
	padding: 20px 0 0 20px;
	font-size: 26px;
	font-weight: 600;
	color: #777777;
}
.menu{
	float: left;
	height: 80px;
	padding: 30px 0 0 30px;
}
.menu a{
	float: left;
	margin-left: 10px;
	text-align: center;
	width: 120px;
	height: 30px;
	font-size: 16px;
	padding: 5px 0 0 3px;
	color: #666;
	background-color: #FFF;
	text-decoration: none;
	border: 1px solid #777777;
	border-radius: 5px;
}
.menu a:hover{
	background-color: #666;
	color: #FFF;
}
.exit{
	position: absolute;
	right: 20px;
	width: 200px;
	padding: 30px 0 0 0;
}
.exit a{
	float: right;
	margin-right: 20px;
	text-align: center;
	width: 120px;
	height: 30px;
	font-size: 16px;
	padding: 5px 0 0 3px;
	color: #666;
	background-color: #FFF;
	text-decoration: none;
	border: 1px solid #777777;
	border-radius: 5px;
}
.exit a:hover{
	background-color: #666;
	color: #FFF;
}
#left{
	float: left;
	width: 280px;
	overflow-x: hidden;
	overflow-y: auto;
	border-right: 2px solid #777777;
	background-color: #F1F1F1;
}
#left dl{
	padding: 10px 0 20px 0;
	/*border-bottom: 2px solid #777777;*/
}
#left dl dt{
	color: #DD4B39;
	font-size: 18px;
	text-align: center;
	border-left: 20px solid #DD4B39;
	border-right: 20px solid #DD4B39;
	letter-spacing: 6px;
}
#left dl dd{
	font-size: 16px;
	margin-top: 8px;
	padding-left: 20%;
}
#left dl dd a{
	color: #666;
	text-decoration: none;
	padding: 3px 3px 3px 3px;
	border-radius: 3px;
}
#left dl dd a:hover{
	color: #FFF;
	background-color: #666;
}
#right{
	float: left;
}


.table{
	width:100%;
}
.table_title{
	width: 100%-40px;
	height: 50px;
	line-height: 50px;
    font-size: 30px;
    border: 2px solid #000;
	border-left: 20px solid #76d6ff;
	border-right: 20px solid #76d6ff;
	text-align: center;
    margin-bottom: 20px;
}
.table,.table td{
	overflow: hidden;
	border:solid 1px #CCC;
	text-align: center;
}
.table td{
	max-width: 400px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.table th{
	border:solid 1px #CCC;
}
.table td a{
	color: blue;
}



/*.page a{
	border: 1px solid #777777;
	border-radius: 3px;
	padding: 2px 2px 2px 2px;
}*/